

$bgcolor: linear-gradient(180deg, rgba(230, 212, 222, 1) 0%, rgba(152, 144, 199, 1) 100%);

$primary: rgba(45, 46, 70, 1);
$secondary: rgba(45, 46, 70, 0.5);


$btnActiveColor: rgb(154, 145, 200);
$btnDangerColor: rgba(241, 69, 61, 1);
$btnDefaultColor: rgba(215, 216, 239, 1);

